.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.bat
**/*.sql
lib
node-informixdb
node_modules
!node_modules/@mapbox/node-pre-gyp
!node_modules/nopt
!node_modules/npmlog
!node_modules/abbrev
!node_modules/are-we-there-yet
!node_modules/readable-stream
!node_modules/inherits
!node_modules/util-deprecate
!node_modules/delegates
!node_modules/gauge
!node_modules/console-control-strings
!node_modules/wide-align
!node_modules/string-width
!node_modules/strip-ansi
!node_modules/ansi-regex
!node_modules/is-fullwidth-code-point
!node_modules/emoji-regex
!node_modules/aproba
!node_modules/has-unicode
!node_modules/color-support
!node_modules/signal-exit
!node_modules/object-assign
!node_modules/set-blocking
!node_modules/semver
!node_modules/detect-libc
!node_modules/ssh2
!node_modules/cpu-features
!node_modules/asn1
!node_modules/bcrypt-pbkdf
!node_modules/tweetnacl
!node_modules/safer-buffer
